
.icon-mail:before { content: '\e800'; } /* '' */
.icon-beer-1:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-money:before { content: '\e803'; } /* '' */
.icon-location:before { content: '\e804'; } /* '' */
.icon-beer:before { content: '\e808'; } /* '' */
.icon-emo-beer:before { content: '\e80b'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-beer-2:before { content: '\f0fc'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */